@import url("fonts.css");

:root {
    --blue-color-: rgb(163, 202, 236);
    --orange-color: rgb(199, 93, 18);
    --pink-color: #667799;
}

h1,
h2,
h3,
h4 {
    font-family: "Caveat", cursive !important;
    color: var(--pink-color) !important;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: none !important;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* index.php */

.hover-block {
    transition: background-color 0.8s ease, color 0.5s ease;
}

.search {
    transition: background-color 0.8s ease, color 0.5s ease;
}

.hover-block:hover,
.hover-block:active{
    background-color: #a3caec !important;
    cursor: pointer !important;
    color : #667799 !important;
}
.color-text{
    color : #f6f7f8 !important;
}
    .color-text:hover{
        color : #667799 !important;
    }

.hover-block:hover .hide-text{
    color: #a3caec !important;
}
.hover-block:hover .img-fluid.book{
    transform: scale(1.22);
    padding-bottom: 0.4em !important;
    transition: all 3s ease;


}
.hover-block:hover p{
    transform: scale(1.4);
    transition: all 2s ease;
    align-content: center !important;
    padding-left: 2em !important;
    color : #667799 !important;


}

