:root {
    --blue-color-: #a3caec;
    --orange-color: rgb(209, 104, 30);
    --pink-color: #3c4e6f;
}

body {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    background-color: white !important;
}
