.select2-container--default .select2-selection--multiple {
    border: none !important;
    box-shadow: 3px 1px 1px lightblue !important;
    border-radius: 10px;
}
.select2-selection__choice{
    background-color: #bde6f4 !important;
    color: var(--pink-color) !important;
    font-family: Caveat !important;

}
.select2-selection__choice__display{
    font-size: 20px!important;

}
.select2-selection__choice__remove{
    color: white !important;
    background-color: var(--orange-color) !important;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.select2-selection__choice__remove:hover,
.select2-selection__choice__remove:focus,
.select2-selection__choice__remove:active
{
    background-color: #e18848 !important;

}
